.image-crop-container {
  position: relative;
  width: 300px;
}
.image_crop {
  width: 300px;
}
.image_crop img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
}
.scale_block {
  display: flex;
  justify-content: center;
}
.scale_button {
  width: 35px;
  height: 35px;
  padding: 5px 12px;
  border: none;
  font-size: 18px;
  margin-right: 20px;
}

.crop-container {
  position: relative;
  overflow: hidden;
}

.crop-container img {
  display: block;
  width: 100%;
  height: auto;
}

.crop-area {
  position: absolute;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.crop-container img,
.crop-area {
  transition: all 0.2s ease;
}
